

<div class="card mb-3 mt-1 shadow-sm">

    <div class="d-flex justify-content-between align-items-center">

                    <a name="chat_user_{{ chat_user.id }}">
                            <strong class="d-block text-gray-dark">{{ chat_user.username }}</strong>
                    </a>

                   
                    <a class="btn btn-lg btn-light" 
                                                href="{% url 'chat' chat_user.username %}" role="button"> 
                                                Войти в чат 
                                        </a>

    </div>

</div>
